# Local .terraform directories
**/.terraform/

# Terraform state files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Exclude all .tfvars files, which are likely to contain sensitive data
*.tfvars
*.tfvars.json

# Ignore override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Ignore Terraform lock file (consider committing if team collaboration requires strict provider versioning)
.terraform.lock.hcl

# Ignore plan output files
*.tfplan

# Ignore private and public key files
**/*.pem
**/*.pub